$max-size:	100%;

.banner{
	background-color: rgb(255, 0, 232);
	width:100%;
	padding:0;
	border: 5px solid black;
	height: 600px;

	 .box-slider-1{
		position:relative;
		top:-500px;
		left:58%;
	}
	
	.box-slider-opacity-1 {
		position:relative;
		top:-778px;
		left:58%;
	}
	
	.box-access{
		position:relative;
		top:-908px;
		left:10%;
	}
	
	.box-access-opacity{
		position:relative;
		top:-1156px;
		left:10%;
	} 

	#slider{
		width: $max-size;
	  	height: $max-size;
	}


	img{
		width:$max-size;
		height:$max-size;
		margin:0 auto;
		display: none;
	}
	img:nth-child(1){
		display: block;
	}

	.btn-slider-next{
		color: white;
		font-size: 48px;
		position: absolute;
		top: 70%;
		left: 95%;
		margin: 0;
	}

	 .btn-slider-back{
		color: white;
		font-size: 48px;
		position: absolute;
		top: 70%;
		left: 5%;
		margin: 0;
	}
	
	.icon-slider:hover{
		font-size: 52px;
	}

	

}
