$col-1-2:	50%;

.menu{
	width:$col-1-2 + 5;
	font-family: 'Open Sans', sans-serif;
}


.nav{
	font-size:12px;
}

.nav>li>a {
	color:white;
}

.nav>li>a:hover {
	color:#00A064;
	background-color: #1C221E;
}


.navbar-default {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	border: 0;
}
