@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=News+Cycle);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
.main-container {
  min-height: 100%;
  padding: 0; }

.welcome-container {
  background-color: white;
  height: auto;
  width: 100%; }

/* 
.article-container{
	height:600px;
	padding:5px;
	margin-top:-55px;
} */
.regular-article {
  background-color: yellow;
  width: 200px;
  height: 200px;
  border: 1px solid red;
  float: left; }

.box-slider-1 {
  width: 517px;
  height: 285px;
  background-color: transparent;
  z-index: 10;
  position: relative;
  padding: 5px; }

.box-slider-opacity-1 {
  width: 517px;
  height: 320px;
  background-color: #190707;
  z-index: 9;
  position: relative;
  -moz-opacity: 0.38;
  -khtml-opacity: 0.38;
  opacity: 0.38;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha" Opacity=38;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=38);
  filter: alpha(opacity=38); }

.box-access {
  width: 300px;
  height: 250px;
  background-color: transparent;
  z-index: 10;
  position: absolute;
  top: 37%;
  left: 18%;
  padding: 5px; }

.box-access-opacity {
  width: 300px;
  height: 250px;
  background-color: #00A064;
  z-index: 9;
  position: absolute;
  top: 37%;
  left: 18%;
  -moz-opacity: 0.58;
  -khtml-opacity: 0.58;
  opacity: 0.58;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha" Opacity=58;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=58);
  filter: alpha(opacity=58); }

.box-information {
  width: 100%;
  min-height: 300px;
  margin-top: 45px; }

.content-p {
  widht: 89%; }

.content-p {
  width: 80%;
  margin: 0 auto; }

.maps {
  width: 50%;
  height: 300px; }

/* font-family: 'Roboto Condensed', sans-serif; */
/*font-family: 'Yanone Kaffeesatz', sans-serif;*/
/*font-family: 'Lora', serif;*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'News Cycle', sans-serif;*/
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Lobster', cursive;*/
/*font-family: 'Droid Serif', serif;*/
.font-droid-serif {
  font-family: 'Droid Serif', serif; }

.font-lobster {
  font-family: 'Lobster', cursive !important; }

.font_monteserrat {
  font-family: 'Montserrat', sans-serif; }

.font-news-circle {
  font-family: 'News Cycle', sans-serif; }

.fonts-open-sans {
  font-family: 'Open Sans', sans-serif; }

.fonts-roboto {
  font-family: 'Roboto Condensed', sans-serif; }

.font-yanone {
  font-family: 'Yanone Kaffeesatz', sans-serif; }

.font-lora {
  font-family: 'Lora', serif; }

.f60 {
  font-size: 60px; }

.f22 {
  font-size: 22px; }

.fw700 {
  font-weight: 700; }

.fw700 {
  font-weight: 500; }

.ls2 {
  letter-spacciong: 2px; }

.ls4 {
  letter-spacciong: 4px !important; }

.banner {
  font-family: 'Open Sans', sans-serif; }

.title {
  font-family: 'News Cycle', sans-serif; }

.title2 {
  font-size: 36px;
  font-weight: 700;
  font-weight: 100;
  letter-spacing: 5px; }

.title1 {
  font-size: 48px;
  font-weight: 300;
  font-weight: 100;
  letter-spacing: 7px; }

.title3 {
  font-family: 'Lora', serif; }

.text-special {
  border: 2px solid white;
  width: 60px;
  height: 60px;
  border-radus: 53px !important;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 25px; }

.titlexx {
  font-weight: 700;
  margin-bottom: -13px; }

.text-special p {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  line-height: 50px; }

#text-special2 {
  margin-top: 10px; }

#text-special1:hover {
  background-color: white;
  color: black; }

.font-level {
  letter-spacing: 3px;
  font-weight: inherit; }

.logo {
  width: 25%;
  background-image: url("../resources/img/logo.jpg");
  background-size: 100%;
  background-repeat: no-repeat; }

.icon-lang {
  width: 20%; }

.btn {
  background-color: #431D46;
  margin-top: 15px; }

.button-change {
  width: 100px;
  height: 50px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 20px; }

.button-change .btn-cg {
  border: 2px solid white;
  width: 20px;
  height: 20px;
  border-radus: 15px !important;
  border: 1px solid white;
  border-radius: 25px;
  margin: 5px; }

.btn-cg:hover {
  width: 25px;
  height: 25px; }

/* .icon-circle-right {
	font-size: 48px;
	color: white;
	z-index: 20;
} */
.menu {
  width: 55%;
  font-family: 'Open Sans', sans-serif; }

.nav {
  font-size: 12px; }

.nav > li > a {
  color: white; }

.nav > li > a:hover {
  color: #00A064;
  background-color: #1C221E; }

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border: 0; }

.banner {
  background-color: #ff00e8;
  width: 100%;
  padding: 0;
  border: 5px solid black;
  height: 600px; }
  .banner .box-slider-1 {
    position: relative;
    top: -500px;
    left: 58%; }
  .banner .box-slider-opacity-1 {
    position: relative;
    top: -778px;
    left: 58%; }
  .banner .box-access {
    position: relative;
    top: -908px;
    left: 10%; }
  .banner .box-access-opacity {
    position: relative;
    top: -1156px;
    left: 10%; }
  .banner #slider {
    width: 100%;
    height: 100%; }
  .banner img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: none; }
  .banner img:nth-child(1) {
    display: block; }
  .banner .btn-slider-next {
    color: white;
    font-size: 48px;
    position: absolute;
    top: 70%;
    left: 95%;
    margin: 0; }
  .banner .btn-slider-back {
    color: white;
    font-size: 48px;
    position: absolute;
    top: 70%;
    left: 5%;
    margin: 0; }
  .banner .icon-slider:hover {
    font-size: 52px; }

.box-information-bgi {
  width: 100%;
  height: 300px; }
  .box-information-bgi .box {
    width: 100%;
    height: 100%;
    padding: 0; }
    .box-information-bgi .box .img-opacity {
      width: 100%;
      height: 100%;
      padding: 0;
      position: relative;
      top: -299px;
      left: 0;
      -moz-opacity: 0.48;
      -khtml-opacity: 0.48;
      opacity: 0.48;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha" Opacity=48;
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=48);
      filter: alpha(opacity=48);
      z-index: 14; }
    .box-information-bgi .box img {
      width: 100%;
      height: 100%;
      padding: 0;
      position: relative;
      top: 0;
      left: 0;
      z-index: 13; }
    .box-information-bgi .box .level {
      width: 100%;
      height: 0;
      padding: 0;
      position: relative;
      top: -301px;
      left: 0;
      z-index: 15; }
      .box-information-bgi .box .level .title1 {
        font-size: 40px;
        font-weight: 300;
        font-weight: 100;
        letter-spacing: 7px;
        width: 100%;
        height: 50px;
        text-align: center;
        font-size: initial;
        position: relative;
        top: -195px; }
      .box-information-bgi .box .level .title2 {
        font-size: 60px;
        font-weight: 700;
        font-weight: 100;
        letter-spacing: 5px;
        text-align: center;
        position: relative;
        top: -200px; }
      .box-information-bgi .box .level .t1 {
        width: 100%;
        height: 50px;
        text-align: center;
        position: relative;
        top: -260px; }
      .box-information-bgi .box .level .t2 {
        width: 100%;
        height: 50px;
        text-align: center;
        position: relative;
        top: -231px; }
      .box-information-bgi .box .level .t3 {
        font-weight: 100;
        letter-spacing: 4px;
        width: 100%;
        height: 50px;
        text-align: center;
        font-size: initial;
        position: relative;
        top: -230px;
        width: 80%;
        margin: 0 auto; }
      .box-information-bgi .box .level .t4 {
        font-size: 33px;
        font-weight: 700;
        font-weight: 100;
        letter-spacing: 5px;
        text-align: center;
        position: relative;
        top: -200px; }
      .box-information-bgi .box .level .icon-text {
        font-size: 25px;
        font-weight: 700;
        font-weight: 100;
        letter-spacing: 5px;
        text-align: center;
        position: relative;
        top: -231px; }

.slider-plane-container {
  width: 100%;
  height: 600px; }
  .slider-plane-container .slider-plane {
    width: 25%;
    height: 300px;
    float: left; }
    .slider-plane-container .slider-plane .box-maps {
      width: 200%;
      position: relative;
      top: -290px;
      left: 0; }
    .slider-plane-container .slider-plane .slider-change-informaion {
      width: 100%;
      height: 300px;
      margin-left: 100%; }
    .slider-plane-container .slider-plane .follow-us {
      widows: 100%;
      height: 300px;
      margin-left: 100%; }

.slider-change-informaion {
  background-color: white;
  position: relative;
  top: -346px;
  left: 0; }
  .slider-change-informaion .box-information {
    margin: 0;
    font-weight: inherit;
    margin-top: -8px;
    height: 300px; }
  .slider-change-informaion .title {
    padding: 25px;
    margin: 0; }
  .slider-change-informaion .title2 {
    font-size: 26px;
    margin-top: 63px; }
  .slider-change-informaion .title1 {
    font-size: 36px; }
  .slider-change-informaion .button-change {
    position: relative;
    top: -36px;
    left: 24px; }

.follow-us {
  background-color: #704B77;
  position: relative;
  top: -346px;
  left: 0;
  margin-top: 46px;
  width: 100%; }
  .follow-us .box-information {
    margin: 0;
    font-weight: inherit;
    height: 200px;
    width: 80%;
    margin: 0 auto; }
    .follow-us .box-information .t1 {
      padding-top: 59px;
      font-size: 46px;
      font-weight: inherit;
      padding-bootom: 25px; }
    .follow-us .box-information .buttons {
      margin: -80px; }
      .follow-us .box-information .buttons .icon {
        font-size: 31px;
        color: white;
        padding: 10px;
        display: -webkit-inline-box; }
    .follow-us .box-information .icon:hover {
      font-size: 35px; }

@media only screen and (max-width: 600px) {
  .follow-us {
    background-color: blue; }
  .slider-plane-container .slider-plane {
    width: 100%;
    float: left; }
  .banner {
    display: list-item; }
    .banner .box-slider-opacity-1 {
      position: relative;
      top: -296px;
      left: 2%; }
    .banner .box-slider-1 {
      position: relative;
      top: 8px;
      left: 2%; } }

header {
  background-color: #1C221E;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px; }

.navbar-default {
  background-color: #1C221E; }

footer {
  background-color: #1C221E;
  widht: 100%;
  height: 150px;
  font-family: 'Roboto Condensed', sans-serif; }
  footer .p {
    padding: 5px;
    padding-left: 100px; }
  footer .p1 {
    margin-top: 8px;
    padding-top: 56px;
    font-size: initial; }
  footer .p2 {
    font-size: x-small; }

.cgris {
  color: 1C221E; }

.gris {
  background-color: 1C221E; }

.white {
  background-color: white; }

.red {
  background-color: red; }

.black {
  background-color: black; }

.blue {
  background-color: blue; }

.green {
  background-color: #00A064; }

.green-1 {
  background-color: #6B8041; }

.cviolet {
  color: #704B77; }

.violet {
  background-color: #704B77; }

.cwhite {
  color: white; }

.text2 {
  color: #BFC8C0; }

.col-1-1 {
  width: 100%; }

.center {
  margin: 0 auto; }

.text-center {
  text-align: center; }

.pad {
  padding: 5px; }

.w80 {
  widht: 80%; }

.col100p {
  width: 100%;
  heinht: auto; }
