

.box-information-bgi{
	width: 100%;
	height: 300px;

	
	.box{
		width: 100%;
		height: 100%;
		padding: 0;
		

		 .img-opacity{
			width: 100%;
			height: 100%;
			padding: 0;
			position: relative;
			top:-299px;
			left:0;
			-moz-opacity: 0.48;
			-khtml-opacity: 0.48;
			opacity: 0.48;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha" Opacity=48;
			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=48);
			filter: alpha(opacity=48);	
			z-index:14;
		} 

		img{
			width: 100%;
			height: 100%;
			padding: 0;
			 position: relative;
			top:0;
			left:0;	
			z-index: 13; 	
		}

		.level{			
			width: 100%;
			height: 0;
			padding: 0;
			position: relative;
			top:-301px;
			left:0;
			z-index:15;
			
			.title1{
				font-size: 40px;
				font-weight: 300;
				font-weight: 100;
				letter-spacing: 7px;
				width: 100%;
				height: 50px;
				text-align: center;
				font-size: initial;
				position: relative;
				top:-195px;
				
			}
		
			.title2{
				font-size: 60px;
				font-weight: 700;
				font-weight: 100;
				letter-spacing: 5px;
				text-align: center;
				position: relative;
				top:-200px;				
			}

			.t1{
				width: 100%;
				height: 50px;
				text-align: center;
				position: relative;
				top:-260px;
			}

			.t2{
				width: 100%;
				height: 50px;
				text-align: center;
				position: relative;
				top:-231px;
			}

			.t3{				
				font-weight: 100;
				letter-spacing: 4px;
				width: 100%;
				height: 50px;
				text-align: center;
				font-size: initial;
				position: relative;
				top:-230px;
				width: 80%;
				margin: 0 auto;
			}

			.t4{
				font-size: 33px;
				font-weight: 700;
				font-weight: 100;
				letter-spacing: 5px;
				text-align: center;
				position: relative;
				top: -200px;
			}

			.icon-text{
				font-size: 25px;
				font-weight: 700;
				font-weight: 100;
				letter-spacing: 5px;
				text-align: center;
				position: relative;
				top:-231px;
			}
		}
	}
}