.slider-change-informaion{

	background-color: white;
	position: relative;
	top: -346px;
	left:0;

	.box-information{
		margin:0;
		font-weight: inherit;
		margin-top:-8px;
		height: 300px;
	}

	.title{
		padding:25px;
		margin:0;
	}

	.title2 {
		font-size: 26px;
		margin-top: 63px;
	}

	.title1 {
		font-size:36px;
	}

	.button-change{
		position: relative;
		top: -36px;
		left: 24px
	}
}