<div >
	<div >
	<!--Init Slider background color change-->
		<div class="box-access cwhite text-center">
			<div class="title title2 pad">
				BOOK NOW
			</div>
			
			<div class="titile title3 pad">
				---- AT BEST PRICE GUARANTEED -----

			</div>


			<div class="pad"></div>
			<button type="button" class="btn btn-success">CHECK IN></button>
			<button type="button" class="btn btn-success">CHECK OUT></button>
			

			<div class="title pad">
				Have a promotion code? click here to apply
			</div>
			
			<button type="button" class="btn btn-success black btn-check">CHECK AVAILABILITY</button>

			
		</div>
		<!--back layer box-slider-1 -->
		<div class="box-access-opacity" ></div>
	<!--End Slider background color change--> 
	</div>
</div>