<div >
	<div class="box-information">
		<div >
			
			<div class="titlexx text-center cviolet">
				WELCOME TO ANYÓSPARK 30C.
			</div>

			<div class="texto1">
				<h1 class="text-center font-level">
					AnyósPark . The Mountain & Wellness Resort 45c.
				</h1>
			</div>

			<hr>

			<div class="content-p pad">
				<p class="text-center ">
				The AnyósPark Resort offerss a variety of areas within the complex, whit a classic type of hotel accommodartion where  you can be pampered and forget your dally stress and routine. All our junior suites are the perfect places for rest and relaxation after an active day. Each room has been carrefull equipment ans opens onto a large terrace with macnificents views of the nountain.				
				</p>

				<p class="text-center ">
					The hotel enyoind a perfet communication, has several subway lines and nearby bus links to the maun points of the city.
				</p>
				<p class="text-center ">
					Also ideal for families, business peopke and tours who want to experience the spirit of the city 600c.
				</p>
			</div>
			
		</div>
		<ng-transclude></ng-transclude>
	<!-- </div>	 -->
</div>