<div class="box-information-bgi" >
	<div class="follow-us">
	
		<div class="box-information text-center">
			
			<div class= "box-information cwhite">
				<div class="font-droid-serif f60 t1 ">
					Follow us
				</div>				
				
				<div class="titile title3 ">
					to find out everithing that happens in social networks and get fantastic discounts. 85.c
				</div>
			</div>
		
			
			<div class="buttons center">

				<a href=""></a><div class="icon icon-facebook3"></div></a>
				<a href=""></a><div class="icon icon-lanyrd"></div></a>
				<a href=""></a><div class="icon icon-twitter3"></div> </a>	

			</div>

		</div>
		
		<ng-transclude></ng-transclude>

	</div>
</div>