<div >
	<div >
	<!--Init Slider background color change-->
		<div class="box-slider-1 cwhite text-center">
			<div class="titile title2 ">
				MULTITUD
			</div>
			<div class="text-special center" id="text-special1">
				<p>of</p>
			</div>
			<div class="titile title1 ">
				SENSATIONS
			</div>
			<div class="titile title3 ">
				BOOK NOW FROM 45€ VAT INC.
			</div>
			<div class="div"></div>
			<button type="button" class="btn btn-success">BOOK NOW></button>
			<div class="text-special center" id="text-special2">
				<p>\=/</p>
			</div>
			<div class="button-change center">
				<div class="btn-cg red " color="red" element="#box-slider-opacity-1" onClick="changeColor(this);" >
				</div>
				<div class="btn-cg blue " color="blue" element="#box-slider-opacity-1" onClick="changeColor(this);" >
				</div>
				<div class="btn-cg green " color="#00A064" element="#box-slider-opacity-1" onClick="changeColor(this);" >
				</div>
			</div>
		</div>
		<!--back layer box-slider-1 -->
		<div class="box-slider-opacity-1" id="box-slider-opacity-1"></div>
		<ng-transclude></ng-transclude>
	<!--End Slider background color change--> 
	</div>
</div>