<div >
	<div >
	
		<div class="slider-change-informaion text-center">
			
			<div class="box-information">
				<div class="titile title2 cgris">
					Reason to book
				</div>				
				<div class="titile title1 ">
					LATE CHECKOUT 15C.
				</div>
				<div class="titile title3 ">
					So you can enjpy the city of Andora delar the departure time from the hotel so you have more time. 85c.
				</div>
			</div>
		
			
			<div class="button-change center">
				<div class="icon-radio-unchecked" color="red" element="#box-slider-opacity-1" onClick="changeColor(this);" >
				</div>
				<div class="icon-radio-unchecked" color="blue" element="#box-slider-opacity-1" onClick="changeColor(this);" >
				</div>
				<div class="icon-radio-unchecked " color="#00A064" element="#box-slider-opacity-1" onClick="changeColor(this);" >
				</div>
			</div>

		</div>
		
		<ng-transclude></ng-transclude>

	</div>
</div>