/* Primary colors: green, black, gray, yellow*/

/* $white 	: 	#FFFFFF;
$green 	: 	#29EC23;
$black	: 	#000000; 	
$gray	: 	#3E483D;		
$yellow : 	#FFFF00;
 */



 
.bgcolor1 	{ background-color : $green; }
.color2 	{ color : }
