/****************  Size of the components  ***************/


/**********************  Container size  ***********************/
$w-general		: 	100%; 		//Widht general
$h-slogan 		: 	30px;		//Height slogan


/********************** End Container size  ***********************/



/**********************  Font size  ***********************/
$fs-general 	: 	12px;		
$fs-small 		: 	16px;		
$fs-xx-medium 	: 	18px;
$fs-x-medium 	: 	26px;
$fs-medium 		: 	30px;

/********************** End Font size  ***********************/
